
<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="dash-card">
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100" attr.tourAnchor="{{card.tourAnchor}}" *ngFor="let card of statsCard">
        <a [routerLink]="['/reports/detailed-'+card.type.toLowerCase()+'']" (click)="clickedChart(card.type, card.number)"  routerLinkActive="active">
        <ms-saas-dashboard-card [statCard]= "card"></ms-saas-dashboard-card>
        </a>
    </div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="start stretch">
    <div fxFlex.gt-md="66.66" fxFlex.gt-sm="50"  fxFlex="100" fxFlex.gt-xs="50" >
        <mat-card>
            <div class="gene-card-title">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="column">
                        <h4>{{'Survey Bar Chart'|translate}}</h4>
                    </div>
                    <span fxFlex></span>
                    <button mat-icon-button>
                        <mat-icon>sync</mat-icon>
                    </button>
                    <button mat-icon-button [matMenuTriggerFor]="options">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div class="gene-card-content">
                <canvas height="250" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
            </div>
        </mat-card>
    </div>
    <div fxFlex.gt-md="33.33" fxFlex.gt-sm="50" fxFlex="100">
        <mat-card class="card-full-height card-full-width">
            <div class="gene-card-title">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="column">
                        <h4 class="mrgn-b-none">{{'Adherence Pie Chart' | translate}}</h4>
                    </div> <span fxFlex></span>
                    <button mat-icon-button>
                        <mat-icon>sync</mat-icon>
                    </button>
                    <button mat-icon-button [matMenuTriggerFor]="options">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div class="gene-card-content crm-progress-wrap">
                <div class="chart-wrap">
                    <h4>{{'Adherence Stats'|translate}}</h4>
                    <ms-sale-pie-chart></ms-sale-pie-chart>
                </div>
            </div>
        </mat-card>
    </div>
</div>

<mat-menu #options="matMenu" x-position="before">
    <button mat-menu-item>
        <mat-icon>settings</mat-icon> Settings </button>
    <button mat-menu-item>
        <mat-icon>more</mat-icon> View More </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon> Disable notifications </button>
    <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon> Remove Panel </button>
</mat-menu>
