<form [formGroup]="addNewUserForm" class="popup-card-width add-new-user">
    <div>
        <h2 mat-dialog-title>Add New Client</h2>
    </div>
    <mat-dialog-content>
        <div>
            <div>
                <mat-form-field class="mrgn-b-sm">
                    <input matInput type="text" formControlName="name" class="form-control" placeholder="Name">
                    <input type="text" formControlName="clientStatus" style="display: none;" />
                    <input type="text" formControlName="logoFile" style="display: none;" />
                    <mat-error
                            *ngIf="addNewUserForm.controls['name'].touched && !addNewUserForm.controls['name'].valid">
                        <mat-error *ngIf="addNewUserForm.controls['name'].hasError('required')"
                                   class="required alert-error">
                            You must include a Name.
                        </mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="mrgn-b-sm">
                    <input matInput type="text" formControlName="code" class="form-control" placeholder="Authority Code">
                    <mat-error
                            *ngIf="addNewUserForm.controls['code'].touched && !addNewUserForm.controls['code'].valid">
                        <mat-error *ngIf="addNewUserForm.controls['code'].hasError('required')"
                                   class="required alert-error">
                            You must include the authority code.
                        </mat-error>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="mrgn-b-sm">
                    <mat-select formControlName="country" class="form-control" placeholder="Country">
                        <mat-option value="" disabled selected hidden></mat-option>
                        <mat-option *ngFor="let country of countries" value="{{country.country}}">{{country.country}}</mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field class="mrgn-b-sm">
                    <input matInput type="text" formControlName="location" class="form-control" placeholder="Location">
                    <mat-error
                            *ngIf="addNewUserForm.controls['location'].touched && !addNewUserForm.controls['location'].valid">
                        <mat-error *ngIf="addNewUserForm.controls['location'].hasError('required')"
                                   class="required alert-error">
                            You must include a Location.
                        </mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-wid">
                <div class="form-group">
                    <input matInput type="text" formControlName="file" class="form-control" placeholder="Logo">
                    <input
                            formControlName="file"
                            id="file"
                            type="file"
                            accept="image/*"
                            class="form-control"
                            (change)="onFileChange($event)">
                    <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                        <div *ngIf="f.file.errors.required">File is required.</div>
                    </div>
                </div>
                </mat-form-field>
                <img [src]="imageSrc" *ngIf="imageSrc" style="height: 30%; width:30%">

            </div>


        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="mrgn-b-xs pad-b-none">
        <button type="button" mat-raised-button (click)="dialogRef.close()" color="primary">CLOSE</button>
        <button (click)="onFormSubmit()" type="submit" [disabled]="!addNewUserForm.valid" mat-raised-button
                color="warn">SUBMIT
        </button>
    </mat-dialog-actions>
</form>
